
.dialog {
  position: relative;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50;
}




/* LOGIN DIALOG */
#login-dialog * {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: 'montserrat', sans-serif;
  margin: 2px;
}


#login-dialog {
  width: 500px;
  height: 450px;
  background-color: white;
  z-index: 999;
  background-image: url('./res/login-bkg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px -10px #000;
  margin: auto;
  top: 10%;
}

#login-dialog form {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 10%;
  margin: 0;
}

#login-dialog form::before {
  content: "";
  position: absolute;
  top: -5%;
  left: -5%;
  width: 150%;
  height: 150%;
  background-color: #FFFA;
  display: flex;
  flex-direction: column;
  z-index: -1;
  transform: rotate(-10deg);
}

#login-dialog p {
  color: #555;
  font-size: small;
}

#login-dialog input {
  padding: 5px;
  border: 1.5px solid #888;
  outline: none;  
  transition-duration: .2s;
}

#login-dialog input:hover {
  border-color: var(--ucsd-yellow);
}
#login-dialog input:focus {
  border-color: var(--ucsd-yellow);
}

#login-dialog button {
  position: absolute;
  background-color: var(--ucsd-yellow);
  border: none;
  margin: 0;
  color: red;
  font-weight: bold;
  transition-duration: .2s;
}

#login-dialog button:active {
  outline: none;
}

#login-dialog button:hover {
  outline: none;
  background-color: #b89300;
}

#login-dialog form button {
  bottom: 0;
  right: 0;
  border: none;
  padding: 10px 25px;
}

#hide-btn {
  padding: 15px;
  border-bottom-right-radius: 10px;
}

#hide-btn {
  top: 0;
  left: 0; 
}






/* DELETE DIALOG */
#delete-dialog {
  width: 300px;
  background-color: white;
  z-index: 9999;
  padding: 30px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: auto;
  top: 15%;
  box-shadow: 0 0 20px -10px #000;
}

#delete-dialog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #006A96;
  height: 100%;
  width: 25px;
  z-index: 1;
}

#delete-dialog * {
  font-family: 'montserrat', sans-serif;
  margin: 5px;
}

#delete-dialog h2, p {
  margin-block-start: 0;
  margin-block-end: 0;
}

#delete-dialog h2 {
  font-size: larger;
}

#delete-dialog p {
  font-size: small;
  color: #555;
}

#delete-dialog form {
  margin: auto;
  margin-left: 20px;
}

#delete-dialog button {
  border-radius: 20px;
  padding: 8px 30px;
  outline: none;
  border: 2px solid var(--ucsd-yellow);
  transition-duration: .2s;
}

#delete-dialog button:nth-of-type(1) {
  background-color: var(--ucsd-yellow);
}
#delete-dialog button:nth-of-type(1):hover {
  background-color: #d6ac00;
  border-color: #d6ac00;
}
#delete-dialog button:nth-of-type(2) {
  background-color: transparent;
}
#delete-dialog button:nth-of-type(2):hover {
  border-color: #d6ac00;
}