
.dialog {
  position: relative;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50;
}




/* LOGIN DIALOG */
#user-dialog * {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: 'montserrat', sans-serif;
  margin: 2px;
}


#user-dialog {
  width: 500px;
  height: 450px;
  background-color: white;
  z-index: 999;
  background-image: url('./res/login-bkg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px -10px #000;
  margin: auto;
  top: 10%;
}

#user-dialog form {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 10%;
  margin: 0;
  width: 60%;
}

#user-dialog form::before {
  content: "";
  position: absolute;
  top: -5%;
  left: -5%;
  width: 150%;
  height: 150%;
  background-color: #FFFC;
  display: flex;
  flex-direction: column;
  z-index: -1;
  transform: rotate(-10deg);
}

#user-dialog p {
  color: #555;
  font-size: small;
}

#user-dialog input {
  padding: 5px;
  border: 1.5px solid #888;
  outline: none;  
  transition-duration: .2s;
}

#user-dialog input:hover {
  border-color: var(--ucsd-yellow);
}
#user-dialog input:focus {
  border-color: var(--ucsd-yellow);
}

#user-dialog button {
  position: absolute;
  background-color: var(--ucsd-yellow);
  border: none;
  margin: 0;
  color: red;
  font-weight: bold;
  transition-duration: .2s;
}

#user-dialog button:active {
  outline: none;
}

#user-dialog button:hover {
  outline: none;
  background-color: #b89300;
}

#user-dialog form button {
  bottom: 0;
  right: 0;
  border: none;
  padding: 10px 25px;
}

#hide-btn {
  padding: 0px 15px;
  padding-bottom: 5px;
  border-bottom-right-radius: 10px;
  font-size: xx-large;
}

#hide-btn {
  top: 0;
  left: 0; 
}


#user-dialog label {
  font-size: 11px;
}

#user-dialog #forgot-password {
  position: static;
  background-color: transparent;
  font-size: 11px;
  color: blue;
  font-weight: 500;
  padding: 0;
  padding-left: 5px;
  text-align: left;
}




/* DELETE DIALOG */
#input-dialog {
  background-color: white;
  width: min-content;
  z-index: 9999;
  padding: 30px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: auto;
  top: 15%;
  box-shadow: 0 0 20px -10px #000;
}

#input-dialog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #006A96;
  height: 100%;
  width: 25px;
  z-index: 1;
}

#input-dialog * {
  font-family: 'montserrat', sans-serif;
  margin: 5px;
}

#input-dialog h2, p {
  margin-block-start: 0;
  margin-block-end: 0;
}

#input-dialog h2 {
  font-size: larger;
}

#input-dialog p {
  font-size: small;
  color: #555;
}

#input-dialog form {
  margin: auto;
  margin-left: 20px;
}

#input-dialog button {
  border-radius: 20px;
  padding: 8px 30px;
  outline: none;
  border: 2px solid var(--ucsd-yellow);
  transition-duration: .2s;
}

#input-dialog button:nth-of-type(1) {
  background-color: var(--ucsd-yellow);
}
#input-dialog button:nth-of-type(1):hover {
  background-color: #d6ac00;
  border-color: #d6ac00;
}
#input-dialog button:nth-of-type(2) {
  background-color: transparent;
}
#input-dialog button:nth-of-type(2):hover {
  border-color: #d6ac00;
}

#input-dialog form div {
  display: flex;
}

#input-dialog input {
  padding: 5px;
  margin: 5px;
}

#error-text {
  color: red;
  font-size: 11px;
}