
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;

  /* background-position: fixed; */
}

.page-container {
  margin-left: 10%;
  width: 90%;
  height: 150%; /* TODO FIX THIS TO SCALE WITH PAGE SIZE */
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('./appRes/appBkg.jpg');
  background-size: auto;
  background-repeat: repeat;
}

.page-container > div {
  position: static;
  width: 70%;
  margin: 0 !important;
  background-color: #FFF;
  padding: 100px;
  box-shadow: 0 0 20px -5px #000;
}
