
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;

  /* background-position: fixed; */
}

.page-container {
  margin-left: 10%;
  width: 90%;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('./appRes/appBkg.jpg');
  background-size: auto;
  background-repeat: repeat;
}

.page-container > div {
  position: static;
  width: 70%;
  margin: 0 !important;
  background-color: #FFF;
  box-shadow: 0 0 0 -5px #000;
  min-height: 100vh; /* Temp fix for now */
}
