:root {
    --article-margin: 5%;
}

#article {
    font-family: Montserrat, sans-serif;
}

.article-banner {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 200px;
    filter: blur(0.5px);
    /* margin: 0 var(--article-margin) 0 var(--article-margin); */
}

.article-header {
    /* width: calc(100% - var(--article-margin)*2); */
    background-color: var(--ucsd-yellow);
    margin: -5px 0 5vh 0;
    z-index: 100;
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.article-path {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    list-style-type: none;
    /* padding: 1vh 0 1vh 1vw; */
}

.article-path li:first-child {
    margin-left: 5%
}

.article-path li:last-child {
    /* width: auto; */
    transition: background-color 200ms;
}

.article-path li:last-child:hover {
    cursor: pointer;
}

.path-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: 40px;
    background: white;
    padding: 1vh 1rem 1vh 1.5rem;
    position: relative;
    margin: 0 1vw 0 1vw;
    font-size: 1rem;
    font-weight: 1000px;
    text-decoration: none;
    color: black;
    transition: all 200ms;
    z-index: 0;
}

.path-item a {
    text-decoration: none;
    color: black;
}

.path-item-after {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid white;
    left: 100%;
    position: absolute;
    right: -40px;
    top: 0;
    z-index: 2;
    transition: border-left-color 200ms;
}

.path-item:before {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid var(--ucsd-yellow);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.reset-section-button {
    transition: all 500ms;
    display: inline-block;
    background-color: var(--ucsd-yellow);
    color: #000000;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    /* margin: 5px; */
    border-radius: 10px;
    border: 0;
}

.reset-section-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.reset-section-button span:after {
    right: 0;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.reset-section-button:hover {
    background-color: #ff6956;
    color: #FFFFFF;
}

.reset-section-button:hover span {
    padding-right: 25px;
}

.reset-section-button:hover span:after {
    opacity: 1;
    right: 0;
}

.dropdown-container {
    /* left: 0%; */
    position: absolute;
    left: 0;
    top: 0;
}

.section-content-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.enroll-button {
    transition: all 500ms;
    display: inline-block;
    background-color: var(--ucsd-yellow);
    color: #000000;
    text-align: center;
    cursor: pointer;
    padding: 2%;
    /* margin: 2%; */
    border-radius: 10px;
    border: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.enroll-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.enroll-button span:after {
    right: 0;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.enroll-button:hover {
    background-color: #3771CD;
    color: #FFFFFF;
}

.enroll-button:hover span {
    padding-right: 25px;
}

.enroll-button:hover span:after {
    opacity: 1;
    right: 0;
}

#section-info {
    max-width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
}

#section-info h3 {
    padding: 1%;
}

#section-info span {
    font-weight: normal;
}

.section-description {
    /* margin: 2% % 2% 2%; */
    padding: 2%;
    word-wrap: break-word;
}

.section-schedule {
    margin: 0 2% 0 2%;
    padding: 2% 0 0 0;
}

.section-calendar {
    background-color: #f7f7f7;
    margin: 5%;
    border-radius: 10px;
    font-family: sans-serif;
}

.article-body {
    margin: 0 calc(2 *var(--article-margin)) 5vh calc( 2 *var(--article-margin));
}

.article-inner-body {
    margin: 0 calc(2 *var(--article-margin)) 5vh calc( 2 *var(--article-margin));
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}


.org-body {
    margin: 0 calc(2 *var(--article-margin)) 5vh calc( 2 *var(--article-margin));
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    border-radius: 5px;
}

.course-img {
    width: 100%;
    height: auto;
}

.course-img:scale, .org-img:scale {
    object-fit: scale-down;
}

.org-img {
    width: 50%;
    padding: 2%;
}

.long-description {
    margin: 0 5vw 5vh 0;
    font-size: 16px;
}

#section-content {
    margin: 0 calc(2 *var(--article-margin)) 5vh calc( 2 *var(--article-margin));
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    background-color: #b6b6b69a;
    padding: 2% 5% 0 2%;
    border-radius: 5px;
}

#links-container {
    border-radius: 10px;
    border-width: 3px;
    border-color: #3771CD;
    background-color: #C4C4C4;
    border-style: solid;
    min-width: 200px; 
    height: 100%;
    overflow-x: hidden;
    /* height: 100%; */
    margin-left: 5%;
    padding: 1%;
}

.link-glyph {
    max-height: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    max-width: 2rem;
}

#link-container {
    position: relative;
    margin: 5% 10% 5% 10%;
    padding: 5% 10% 5% 10%;
    transition: color 300ms;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: center;
    align-content: center;
    font-weight: bold;
    text-decoration: none;
}

#link-container a {
    color: black;
    text-decoration: none;
    display: block;
}

#link-container:hover {
    cursor: pointer;
    background-color: #aaaaaa;
    color: #3771CD;
}


#link-container:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0px;
    height: 0;
    background: transparent;
    border: 3px solid transparent;
}

#link-container:hover:before {
    animation: animate 200ms ease-in forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
        border-top-color: var(--ucsd-yellow);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 0;
        border-top-color: var(--ucsd-yellow);
        border-right-color: var(--ucsd-yellow);
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        opacity: 100%;
        width: 100%;
        height: 100%;
        border-top-color: var(--ucsd-yellow);
        border-right-color: var(--ucsd-yellow);
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

#link-container:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0px;
    height: 0;
    background: transparent;
    border: 3px solid transparent;
}

#link-container:hover:after {
    animation: animate2 300ms ease-in forwards;
}

@keyframes animate2 {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: var(--ucsd-yellow);
    }
    50% {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: var(--ucsd-yellow);
        border-left-color: var(--ucsd-yellow);
    }
    100% {
        opacity: 100%;
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: var(--ucsd-yellow);
        border-left-color: var(--ucsd-yellow);
    }
}

.section-dropdown {
    position: absolute;
    top: 26px;
    width: inherit;
    min-width: 150px;
    left: 0;
    border-radius: 5px;
    padding: 1rem;
    overflow: hidden;
    z-index: 12;
}

.section-dropdown :first-child {
    border-radius: 5px 5px 0 0;
}

.section-dropdown :last-child {
    border-radius: 0 0 5px 5px;
}
.section-item {
    height: 50px;
    display: flex;
    align-items: center;
    transition: background 200ms;
    padding: 0.5rem;
    background-color: #C4C4C4;
}

.section-item:hover {
    background-color: #3771CD;
    cursor: pointer;
}

.selected-dropdown-item {
    background-color: var(--ucsd-yellow);
}