.section-dropdown {
    position: absolute;
    top: 26px;
    width: inherit;
    min-width: 200px;
    transform: translateX(-50%);
    border-radius: 5px;
    padding: 1rem;
    overflow: hidden;
    z-index: 12;
}


.section-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background 200ms;
    padding: 0.5rem;
    background-color: #C4C4C4;
}

.section-item:hover {
    background-color: #3771CD;
    cursor: pointer;
}