.landing-container {
	text-align: center;
	font-family: 'Montserrat';
	margin: 5% 0 0 0;
}

.landing-container h2 {
	/* padding: 0 0 5% 0; */
}

.landing-container h1,h2 {
	font-size: 2.5rem;
}

.landing-icon-container {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	min-width: 500px;
	min-height: 500px;
	position: relative;
}

.landing-icon-container a {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 1.5rem;
	text-decoration: none;
	transition: all 300ms;
	color: black;
	background-color: rgb(201, 201, 201);
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #3771CD;
	max-width: 200px;
}

.landing-icon-container a:hover {
	cursor: pointer;
	color: #3771CD;
	background-color: var(--ucsd-yellow);
}

.landing-svg {
	position: absolute;
	top: 20%;
}