  .topbar-container { 
   /* FlexBox CSS for the entire top bar */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    /* Top Bar Positioning */
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 75px; */
    height: 7vh;
    position: sticky;
    /* Misc */
    background-color: #3771CD;
}

.searchbar-container {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 75px;
    position: sticky;
}

#search-bar {
    padding-left: 15vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    min-height: 20px;
    width: 30vw;
}

#search-input {
    resize: none;
    border-color: transparent;
    font-size: large;
    min-height: 20px;
    width: 30vw;
    padding-left: 0.5vw;
    font-family: Hind;
}

.search-input-top-borders {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.search-input-all-borders {
    border-radius: 5px;
}

#search-results-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: baseline;
    align-content: flex-start;
    margin-left: 15vw;
    padding: 0;
}

#search-results {
    /* top: -2.2vh; */
    top: -20px;
    font-family: Hind;
    position: absolute;
    list-style-type: none;
    background-color: rgb(223, 223, 223);
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: content-box;
    max-height: 15vh;
    z-index: 10;
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#result-item-link {
    text-decoration: none;
}

#result-item {
    text-decoration: none;
    color: #000000;
    border-radius: 3px;
    padding-left: 0.5vw;
    width: 29.5vw;
}

#result-item:hover {
    background-color: rgb(206, 206, 206);
}

.topbar-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
}

.topbar-item-svg {
    height: 47%;
}

#topbar-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    margin-right: 2vw;
    padding-right: 1vw;
    padding-left: 1vw;
}

.topbar-button {
    background-color: #3771CD;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
    margin-left: 1vw;
}

.topbar-button:hover {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    filter: brightness(1.5);
    cursor: pointer;
    border-radius: 5px;
}

.create-page-dropdown {
    position: absolute;
    right: 5vw; 
    top: 65px;
    width: auto;
    min-width: 100px;
    padding: 1rem;
    overflow: hidden;
    z-index: 51;
}

.profile-dropdown {
    position: absolute;
    right: 0;
    top: 65px;
    width: auto;
    min-width: 100px;
    padding: 1rem;
    overflow: hidden;
    z-index: 50;
}

.profile-dropdown :first-child, .create-page-dropdown :first-child {
    border-radius: 5px 5px 0 0;
}

.profile-dropdown :last-child, .create-page-dropdown :last-child {
    border-radius: 0 0 5px 5px;
}


.profile-item, .create-page-item {
    height: 30px;
    display: flex;
    align-items: center;
    /* border-radius: 5px; */
    font-size: 1rem;
    font-weight: 500;
    transition: background 200ms;
    padding: 1rem;
    background-color: #C4C4C4;
    text-decoration: none;
    color: black;
}

.profile-item:hover, .create-page-item:hover {
    background-color: #3771CD;
    cursor: pointer;
}